@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    list-style: none;
    appearance: none;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    font-style: normal;
    height: 100vh;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    background: #edeffd;
}

.container {
    display: grid;
    width: 96%;
    gap: 1.8rem;
    grid-template-columns: 16rem auto;
    margin: 0 auto;
}

a {
    color: #8fa9d8;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.1rem;
    color: #2c2e2e;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

/* Aside */
aside {
    height: 100vh;
    background: white;
}

aside .top {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.21rem;
    padding: 0 1.5rem;
}

aside .logo {
    display: flex;
    gap: 1rem;
}

aside .close {
    display: none;
}

aside .sidebar {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 3rem);
    position: relative;
    top: 1rem;
    overflow-y: auto;
}

aside h3 {
    font-weight: 600;
}

aside .sidebar a {
    display: flex;
    align-items: center;
    color: #7d8da1;
    padding: 1rem 2rem;
    gap: 1rem;
    transition: all 0.2s ease-in-out;
}

aside .sidebar a span {
    font-size: 1.5rem;
}

aside .sidebar a:hover,
aside .sidebar a.active {
    background-color: #f5f8ff;
    color: #2c2e2e;
    border-left: 5px solid #7380ec;
}

/* Dropdown styles */
.dropdown {
    position: relative;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 1rem;
    cursor: pointer;
}

.dropdown-icon {
    transition: transform 0.2s ease-in-out;
}

.dropdown.active .dropdown-icon {
    transform: rotate(180deg);
}

.dropdown-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #f9fafc;
}

.dropdown.active .dropdown-menu {
    max-height: 500px; /* Adjust this value based on your needs */
    transition: max-height 0.5s ease-in;
}

.dropdown-menu li a {
    padding: 0.5rem 3rem;
    font-size: 0.9rem;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #f0f3f9;
}